<template>
    <div id="footer">
        <b-container class="text-center">
            <ul class="points mt-5">
                <li>faq</li>
                <li>privacy note</li>
                <li>terms of uses</li>
                <li>cookie policy</li>
                <li>terms & conditions</li>
            </ul>

            <div class="icon-pack mt-5">
                <a href="/" target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'facebook' }" size="2x" /></a>
                <a href="/" target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'instagram' }" size="2x" /></a>
                <a href="/" target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'youtube' }" size="2x" /></a>
                <a href="/" target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'twitter' }" size="2x" /></a>
                <a href="/" target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'google-plus' }" size="2x" /></a>
                <a href="/" target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'linkedin' }" size="2x" /></a>
                <a href="/" target="_blank"><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'pinterest' }" size="2x" /></a>
            </div>

            <div class="copyright">
                <p>Copyright &copy; 2020 Attic Veins. All Rights Reserved</p>
            </div>
        </b-container>
    </div>
</template>

<script>
export default {
    name: 'Footer'
}
</script>

<style scoped lang="scss">
    #footer {
        background: url('../../assets/footer.png') no-repeat center center fixed;
        background-size: cover;
        box-shadow: 0 10px 8em rgba(0, 0, 0, 1);
        color: white;
        .points {
            font-weight: 500;
            font-size: 1.1em;
            text-transform: uppercase;
            li {
                margin-top: 15px;
                list-style: none;
                display: inline-block;
                margin-right: 50px;
            }
        }
        .icon-pack {
            color: white;
            a {
                text-decoration: none;
                color: white;
                margin-right: 20px
            }
        }

        .copyright {
            padding-top: 20px;
            padding-bottom: 10px;
            margin-top: 20px;
            p {
                font-weight: 500;
                font-size: 1.1em;
            }
        }
    }
</style>