<template>
    <div id="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark justify-content-sm-start">

            <b-container>
                <a href="/" class="navbar-brand" id="branding">
                    <img :src="require('@/assets/branding.png')" width="175px" height="50px" />
                </a>

                <button class="navbar-toggler align-self-start mt-2" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end mobileMenu">
					<ul class="navbar-nav align-self-stretch">
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item"><a href="/" class="nav-link">workout plan</a></li>
						<li class="nav-item"><a href="/" class="nav-link">courses</a></li>
						<li class="nav-item"><a href="/" class="nav-link">body profile</a></li>
                        <li class="nav-item"><a href="/" class="nav-link">contact</a></li>
					</ul>
				</div>

            </b-container>

            <div class="overlay"></div>

        </nav>
    </div>
</template>

<script>
function init() {
	let fixHeight = () => {
		let h = document.documentElement.clientHeight - 150;
		document.querySelector('.navbar-nav').style.maxHeight = h; 
	};
	fixHeight();
	window.onresize = () => fixHeight();
	document.querySelectorAll('.navbar, .navbar-toggler').forEach((q) => {
		q.addEventListener('click', () => fixHeight());
	});
	document.querySelectorAll('.navbar-toggler, .overlay').forEach((q) => {
		q.addEventListener('click', () => {
			document.querySelectorAll('.mobileMenu, .overlay').forEach((c) => {
				c.classList.toggle('open');
			})
		})
	});
}

function changeNavbar() {
	if (window.scrollY >= 50) {
		document.getElementById('navbar').style.cssText = 'position: fixed; opacity: 100%;'
	} else if (window.scrollY < 50) {
		document.getElementById('navbar').style.cssText = 'position: absolute; opacity: 70%;'
	}
}

export default {
    name: 'Navbar',
    mounted() {
		init();
		document.addEventListener('DOMContentLoaded', () => changeNavbar());
		document.addEventListener('scroll', () => changeNavbar());
	}
}
</script>

<style scoped>

    #navbar {
        position: absolute;
        background: #0e0e0e;
        transition: 0.3s ease-in-out;
        opacity: 70%;
        top: 0;
        width: 100%;
        z-index: 2;
        box-shadow: 0 10px 4em rgba(0, 0, 0, 1);
        padding: 10px 0;
    }

    #branding {
		width: 200px;
	}

	.align-right {
		display: flex;
		flex-basis: auto;
		margin-left: auto !important;
	}
	
	.navbar-dark .navbar-nav .nav-link {
		color: white;
		padding: 0px 10px;
        text-transform: uppercase;
        font-weight: 600;
	}
    
    .navbar-dark .navbar-nav .nav-link:hover {
        color: whitesmoke;
	}
    
    .navbar-toggler {
        color: white;
    }

	.mobileMenu .navbar-nav .nav-item a {
		font-size: .9rem;
	}
	@media (max-width: 992px) {
		.mobileMenu {
			-webkit-transform: translateX(-120%);
							transform: translateX(-120%);
			position: fixed;
			padding-right: 10rem;
			top: 0;
			bottom: 0;
			margin: auto;
			left: 0;
			-webkit-transition: all ease 0.25s;
			transition: all ease 0.25s;
			box-shadow: 0 0 4em 2em rgba(0, 0, 0, 1);
			background: #0e0e0e;
		}
		.mobileMenu.open {
			-webkit-transform: translateX(0%);
							transform: translateX(0%);
		}
		.mobileMenu .navbar-nav {
			overflow-y: auto;
			margin-top: 30px;
			margin-left: 20px;
		}
		.mobileMenu .navbar-nav .nav-item {
			padding: 0.8rem 0;
		}
		.mobileMenu .navbar-nav .nav-item a {
			font-size: 1rem;
		}
		.overlay {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			display: none;
		}
		.overlay.open {
			display: block;
			z-index: -1;
		}
	}

</style>