<template>
    <div id="home">
        <div id="main">
            <b-container>
                <div class="text">
                    <h1 class="display-4">
                        "we are a fitness brand with an<br>aim to create a fit nation"
                    </h1>
                </div>
            </b-container>
        </div>

        <div id="plan" class="mt-5">
            <b-container>
                <div class="text">
                    <h1 class="display-4">let's start your fitness journey!</h1>
                    <p>This fitness program will not only help you get into a better body shape, but will also assist to lose your excessive body weights and fat or gain muscle and will help you to improve your overall health and energy levels</p>
                </div>

                <div class="workout text-center mt-5">
                    <h1 class="heading">get your workout plan</h1>
                    <h4 class="select mt-2">select your gender</h4>
                </div>
                <b-row class="text-center">
                    <b-col lg="6"><img :src="require('@/assets/gender/male.png')" width="250px" height="250px" alt="male"></b-col>
                    <b-col lg="6"><img :src="require('@/assets/gender/female.png')" width="250px" height="250px" alt="female"></b-col>
                </b-row>
                
                <p class="gender text-center mt-3 mb-5">It offers a unique set of exercises, distributed in circular workouts that spread the load between all muscle groups</p>
            </b-container>
        </div>
    
        <div id="workout-plan" class="text-center">
            <b-container>
                <div class="text pt-5">
                    <h1 class="display-4">why do you need a workout plan?</h1>
                </div>
                
                <b-row class="text-left" align-v="center">
                    <b-col lg="6">
                        <ul class="points">
                            <li>to maintain your body</li>
                            <li>to burn fats</li>
                            <li>keep records of your daily progress</li>
                        </ul>
                    </b-col>
                    <b-col lg="6">
                        <ul class="points">
                            <li>to become strong and fit</li>
                            <li>personal instructions depending on your shape</li>
                            <li>less expensive</li>
                        </ul>
                    </b-col>
                </b-row>

                <div class="course my-3">
                    <h1 class="display-4">our course pack</h1>
                    <b-row>
                        <b-col lg="6" class="my-5"><img :src="require('@/assets/plan/weekly.png')" width="400px" height="175px" alt="weekly"></b-col>
                        <b-col lg="6" class="my-5"><img :src="require('@/assets/plan/monthly.png')" width="400px" height="175px" alt="weekly"></b-col>
                    </b-row>
                </div>
            </b-container>
        </div>

        <div id="body-profile" class="text-center">
            <b-container>
                <div class="text mt-5">
                    <h1 class="display-5">get your free</h1>
                    <h1 class="display-4">body profile</h1>
                </div>

                <b-row class="mt-5 profile">
                    <b-col lg="3">
                        <img :src="require('../assets/bodyprofile/bmi.png')" width="150px" height="150px" alt="bmi" />
                        <p>body mass index (bmi)</p>
                    </b-col>
                    <b-col lg="3">
                        <img :src="require('../assets/bodyprofile/water.png')" width="150px" height="150px" alt="bmi" />
                        <p>daily water intake</p>
                    </b-col>
                    <b-col lg="3">
                        <img :src="require('../assets/bodyprofile/bmr.png')" width="150px" height="150px" alt="bmi" />
                        <p>body metabolic rate (bmr)</p>
                    </b-col>
                    <b-col lg="3">
                        <img :src="require('../assets/bodyprofile/hr.png')" width="150px" height="150px" alt="bmi" />
                        <p>heartbeat rate</p>
                    </b-col>
                </b-row>
            </b-container>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Home',    
}
</script>


<style scoped lang="scss">
    
    #home {
        #main {
            position: relative;
            background: url('../assets/home/bg.jpg') no-repeat center center fixed;
            background-size: cover;
            box-shadow: 0 10px 8em rgba(0, 0, 0, 1);
            height: 100vh;
            .text {
                position: absolute;
                bottom: 10%;
                left: 0;
                right: 0;
                margin: 0px 50px;
                .display-4 {
                    text-transform: uppercase;
                    font-weight: 900;
                    text-align: center;
                    color: white;
                    font-size: 3em;
                    font-style: italic;
                }
            }
        }

        #plan {
            .text {
                .display-4 {
                    font-weight: 900;
                    font-style: italic;
                    text-align: center;
                    text-transform: uppercase;
                    color: black;
                }
                p {
                    font-weight: 500;
                    margin: 0 65px;
                    font-size: 1.2em;
                }
            }
            .workout {
                text-transform: uppercase;
                .heading {
                    background: url('../assets/footer.png') no-repeat center center fixed;
                    color: white;
                    width: 50%;
                    padding: 20px 15px;
                    margin: 0 auto;
                    font-weight: 700;
                }
                .select {
                    letter-spacing: .5em;
                    font-weight: 700;

                }
            }
            .gender {
                font-weight: 500;
                margin: 0 65px;
                font-size: 1.2em;
            }
        }

        #workout-plan {
            background: url('../assets/workout-plan.jpg') no-repeat center center fixed;
            background-size: cover;
            box-shadow: 0 10px 8em rgba(0, 0, 0, 1);
            color: white;
            .display-4 {
                font-weight: 900;
                font-style: italic;
                text-transform: uppercase;
            }
            .points {
                font-weight: 700;
                text-transform: uppercase;
                li {
                    list-style: none;
                    margin: 0;
                    padding: 20px 0 20px 50px;
                    background-image: url('../assets/checkbox.png');
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: 35px;
                }
            }
        }

        #body-profile {
            color: black;
            text-transform: uppercase;
            .display-4 {
                font-weight: 900;
                font-style: italic;
                background: url('../assets/footer.png') no-repeat center center fixed;
                color: white;
                width: 50%;
                padding: 20px 15px;
                margin: 0 auto;
            }
            .display-5 {
                font-weight: 900;
                font-style: italic;
            }
        
            .profile {
                p {
                    font-weight: 700;
                    margin-top: 20px;
                    font-size: 1.2em;
                }
            }
        }

        @media (max-width: 768px) {
            #plan {
                .text {
                    p {
                        margin: 0;
                        text-align: center;
                    }
                }
                .workout {                
                    .heading {
                        width: 60%;
                    }
                }
            }

            #body-profile {
                .display-4 {
                    width: 60%;
                }
            }
        }
    }
</style>