<template>
  <div id="app">
      <Navbar />
      <router-view />
      <Footer />
  </div>
</template>

<script>
import Navbar from '@/components/layout/Navbar.vue';
import Footer from '@/components/layout/Footer.vue';

export default {
  name: 'App',
  title: 'Attic Veins',
  components: {
      Navbar,
      Footer
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;1,700;1,900&display=swap');

html {
    padding: 0;
    margin: 0;
}

#app {
    background-color: #e1e1e1;
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}
</style>
